

#title
{
    color: #022261;
    font-family: Trebuchet MS, Arial, Helvetica, sans-seriff;
    font-size: 25px;
    width: 500px;  
}

#loginpanel
{   
     font-size: 20px;
     color: #1A97AA;
     font-family: Trebuchet MS, Arial, Helvetica, sans-seriff;
}
    #nickbutton
    {
        background-color: #16A5AA;
        color: #ffffff;
        font-size: 14px;
        font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    }

#contactpanel
{
    width: 150px;
    height: auto;
    font-family: Trebuchet MS, Arial, Helvetica, sans-seriff;
    color: #898989;
    font-size: 15px;
    font-weight: bold;
    float: left;
}

    #addcontactbutton, #creategroupbutton, #blockcontactbutton
    {
        background-color: #ffffff;
        color: #373737;
        font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
        border-style: solid;    
    }
    li
    {
        width: 100px;
        padding-left: 10px;
        cursor: pointer;        
    }
    li:hover
    {
        color: #1BE03F;
    }
    .selected
    {
        color: #F00;
    }
  

    #addcontactbutton:active, #creategroup:active
    {
        border-color: #6A6A6A;
    }

#chatpanel
{
    width: 350px;
    float: left;  
}
    
    #contactlog
    {
        resize: none;
        font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
        width: 350px;
        height: 400px;
        border-style: solid;
        border-width: thin;
        border-color: #8CC1C1;
        float: left;
        overflow-x: hidden;
        overflow-y: auto;
    }
    #inputtextarea
    {
        width: 300px;
       /* height: 50px;*/
        resize: none;
        font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    }
    #sendbutton
    {
        color: #ffffff;
        background-color: #08B525;
        font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
        font-size:14px;
        height: 25px;
        width: 50px; 
        position: absolute;
    }

#logpanel
{
    width: 350px;
	float:right;
}
    #logbutton
    {
        color: #000000;
        background-color: #9CC7C9;
        font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
        font-size:14px;
        float: right; 
    }

#log
{
	font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:12px;
	width:400px;
}

#bold
{
    background-color: #ffffff;
    border: 1px solid #ffffff;
    font-weight: bold;
}

#italics
{
    background-color: #ffffff;
    border: 1px solid #ffffff;
    font-style: italic;
}



.visible
{
	visibility:hidden;
}

.italic
{
	font-style:italic;
}

.bold
{
	font-weight:bold;
}
